---
import SVG from "@/components/SVG.astro";
import { loadCollection } from "@/components/loadCollection.js";
import Base from "@/layouts/Base.astro";
import "@/styles/blog.less";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const worksCollection = await loadCollection("works");

  return worksCollection.posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Base title={post.data.title}>
  <Image class="cover" src={post.data.cover} alt={post.data.title} />

  <header class="l-content">
    <h1>{post.data.title}</h1>
    {
      post.data.url && (
        <a href={post.data.url} target="_blank">
          <SVG symbol="open" class="u-iconInText" />
          {post.data.url}
        </a>
      )
    }
    <time datetime={post.data.date.toISOString()}>
      {post.data.date.getFullYear()}
    </time>
    <p>{post.data.description}</p>

    <ul>
      {
        post.data.tags.map((tag) => (
          <li>
            <a class="c-tag" href={`/works/tag=${tag}/`}>
              <SVG symbol="tag" />
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </header>

  <div class="l-content content">
    <Content />
  </div>
</Base>

<style lang="less">
  @import "@/styles/common.less";

  .cover {
    display: block;
    border-radius: 8px;
    border: 1px solid rgb(@main / 0.05);
    margin: 64px 64px 0;
    width: calc(100% - 128px);
    background: @placeholder;
    @media (width < @xl) {
      margin: 0;
      width: 100%;
      border-radius: 24px 24px 0 0;
      border-width: 0 0 1px;
    }
    @media (width < @xs) {
      border-radius: 0;
    }
  }

  header {
    h1 {
      margin-top: 32px;
      font-size: 2em;
      @media (width < @lg) {
        margin-top: 24px;
      }
      @media (width < @sm) {
        margin-top: 20px;
      }
    }

    > a {
      display: block;
      margin-top: 8px;
      color: rgb(@theme);
    }

    time {
      display: block;
      font-size: 0.9em;
      margin-top: 16px;
      color: rgb(@main / 0.6);
    }

    > p {
      font-size: 0.9em;
      margin-top: 4px;
    }

    ul {
      display: flex;
      margin-top: 18px;
      gap: 6px;
    }
  }

  .content,
  .content :global(h2) {
    margin-top: 48px;
    @media (width < @lg) {
      margin-top: 32px;
    }
    @media (width < @sm) {
      margin-top: 24px;
    }
  }
</style>
