---
import HirataImage from "@/assets/img/hirata.webp";
import DesignImageAnimation from "@/assets/img/me/design-animation.webp";
import DesignImage from "@/assets/img/me/design.webp";
import DevelopImageAnimation from "@/assets/img/me/develop-animation.webp";
import DevelopImage from "@/assets/img/me/develop.webp";
import SVG from "@/components/SVG.astro";
import { ME_DESCRIPTION } from "@/consts";
import { Image } from "astro:assets";
---

<section data-inview class="infoBlock l-content hirata">
  <div class="left text">
    <h2>平田 章</h2>
    <p><budoux-ja>{ME_DESCRIPTION}</budoux-ja></p>
  </div>

  <a href="/contact" class="right" data-swellStalker="hirata">
    <Image src={HirataImage} alt="平田 章" />
  </a>
</section>

<section data-inview class="infoBlock l-content design">
  <div class="right text">
    <h2>Design</h2>
    <p>
      <budoux-ja>
        モバイルアプリケーションやWebサイトなどの情報設計/画面構築を行い、デザインに落とし込んだり、ドキュメントをまとめることができます。私自身開発者でもあるため、コンポーネントや実装の都合を考えたデザインが得意です。UIデザインが本業で、ツールとしてFigmaやSketchなどの特性を研究するのが好きです。Adobe製品を使用してロゴやモーション制作、イラストの作成も行えます。
      </budoux-ja>
    </p>
  </div>

  <a href="/works/tag=UI" class="left" data-swellStalker="design">
    <picture>
      <source
        media="(max-width: 480px)"
        srcset={DesignImage.src}
        width={DesignImage.width}
        height={DesignImage.height}
        type="image/webp"
      />
      <Image src={DesignImageAnimation} alt="デザインスキルのイメージ画像" />
    </picture>
  </a>
</section>

<section data-inview class="infoBlock l-content develop">
  <div class="left text">
    <h2>Develop</h2>
    <p>
      <budoux-ja>
        HTML・CSS・Javascriptを用いて、Webサイトのフロントエンド構築を行えます。WordpressやHeadlessCMSなどを用いてブログやニュースサイトの構築もできます。好きなフレームワークはVue.jsで、本ポートフォリオサイトもVueで作成されています。
      </budoux-ja>
    </p>
    <p>
      <a
        data-swellStalker="open"
        href="https://github.com/psephopaiktes/hira.page"
        target="_blank"
      >
        このサイトのソースコード
        <SVG symbol="open" class="u-iconInText" />
      </a>
    </p>
  </div>

  <a href="/works/tag=CODE" class="right" data-swellStalker="develop">
    <picture>
      <source
        media="(max-width: 480px)"
        srcset={DevelopImage.src}
        width={DevelopImage.width}
        height={DevelopImage.height}
        type="image/webp"
      />
      <Image src={DevelopImageAnimation} alt="開発スキルのイメージ画像" />
    </picture>
  </a>
</section>

<section data-inview class="infoBlock l-content skillmap">
  <div class="right text">
    <h2>Skill Map</h2>
    <p>
      <budoux-ja>
        アプリ・サービス開発に携わるデザイナーとして、スキル領域のイメージです。実装・ビジュアライズなど、アウトプットに落とし込むことが得意です。
      </budoux-ja>
    </p>
    <p>
      <a
        data-swellStalker="open"
        href="https://yasuhisa.com/could/article/product-designer-skillmap/"
        target="_blank"
      >
        参考
        <SVG symbol="open" class="u-iconInText" />
      </a>
    </p>
  </div>

  <a href="/works" class="left" data-swellStalker="skillmap">
    <dotlottie-player src="/lottie/skillmap.lottie" autoplay></dotlottie-player>
  </a>
</section>

<style lang="less">
  @import "@/styles/common.less";

  // Layout
  .infoBlock {
    display: grid;
    margin-top: 64px;
    grid-template-areas: "left right";
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    @media (width < @sm) {
      margin-top: 48px;
      grid-template-areas: "left" "right";
      grid-template-columns: 100%;
    }

    &.hirata,
    &.skillmap {
      gap: 64px;
      @media (width < @xl) {
        gap: 40px;
      }
      @media (width < @lg) {
        gap: 24px;
      }
      @media (width < @sm) {
        gap: 16px;
      }
    }
    &.design,
    &.develop {
      margin-top: 32px;
      gap: 0;
      @media (width < @xl) {
        margin-top: 40px;
      }
      @media (width < @lg) {
        margin-top: 48px;
        gap: 8px;
      }
      @media (width < @sm) {
        gap: 16px;
      }
    }

    .left {
      grid-area: left;
      text-align: right;
      @media (width < @sm) {
        grid-area: auto;
        text-align: center;
      }
    }
    .right {
      grid-area: right;
      text-align: left;
      @media (width < @sm) {
        grid-area: auto;
        text-align: center;
      }
    }

    .text {
      p {
        margin-top: 8px;
        @media (width < @sm) {
          margin-top: 2px;
        }
      }
    }
    img {
      width: 400px;
      @media (width < @sm) {
        width: 100%;
      }
    }
    dotlottie-player {
      width: 480px;
      aspect-ratio: 3/2;
      @media (width < @xl) {
        width: 320px;
      }
      @media (width < @lg) {
        width: 280px;
      }
      @media (width < @sm) {
        width: 100%;
      }
    }
  }

  // Style
  .text {
    h2 {
      font-size: 32px;
      display: inline-block;
      width: 160px;
      line-height: 1.6;
      background: linear-gradient(60deg, #f90, rgb(@theme));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: var(--font-futura);
      font-variation-settings: "wght" 700;
      animation: breathe 8s ease-in-out infinite both;
      @keyframes breathe {
        0% {
          font-variation-settings: "wght" 700;
        }
        60% {
          font-variation-settings: "wght" 400;
          // letter-spacing: 0.07em;
          opacity: 0.8;
        }
        100% {
          font-variation-settings: "wght" 700;
        }
      }
      @media (width < @sm) {
        font-size: 24px;
        text-align: center;
      }
    }
    p {
      opacity: 0.8;
      font-weight: 400;
    }
  }

  .hirata {
    a {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        aspect-ratio: 8/5;
        z-index: -1;
        opacity: 0.8;
        background-image: linear-gradient(60deg, rgb(@theme), #f60);
        filter: blur(12px);
        transform: translateY(2px);
      }
    }
  }

  .design,
  .develop {
    img {
      background-size: cover;
      scale: 1.25;
      filter: drop-shadow(0px 16px 48px rgba(@main, 0.2));
      @media (width < @lg) {
        scale: 1.4;
      }
      @media (width < @md) {
        scale: 1.2;
      }
      @media (width < @sm) {
        scale: 1;
      }
    }
  }

  .design {
    img {
      transform-origin: 90% 80%;
      @media (width < @sm) {
        margin-top: -40px;
      }
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20fill%3D%22none%22%20height%3D%22680%22%20viewBox%3D%220%200%20800%20680%22%20width%3D%22800%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m643.5%20523.739%201.4-1.61c.227-.26.49-.466.79-.62%201.14-.573%202.18-1.286%203.12-2.14%202.28-2.06%205.44-4.446%209.48-7.16%201.905-1.288%203.623-1.225%205.582-1.154.489.018.993.036%201.518.034.967%200%201.984.287%203.05.86%201.007.54%201.947%201.084%202.82%201.63%201.547.98%202.814%202.337%203.8%204.07.68%201.2.984%202.514.91%203.94-.093%201.594-.12%203.13-.08%204.61.007.354-.08.684-.26.99-.333.57-.619%201.173-.903%201.774l-.001.001c-.595%201.256-1.188%202.509-2.216%203.455-2.36%202.173-4.603%204.47-6.73%206.89-9.273%2010.56-18.21%2021.414-26.81%2032.56-.8%201.034-1.526%202.047-2.18%203.04-1.226%201.873-2.78%203.514-4.66%204.92-.071.055-.126.129-.158.213-.033.084-.041.175-.024.263.007.038.019.074.035.108.021.046.049.088.083.125.061.064.138.11.224.131%201.26.34%202.64-.04%203.75-.68%209.667-5.66%2018.197-11.89%2025.59-18.69%207.12-6.553%2014.064-12.8%2020.83-18.74%201.059-.937%202.141-1.497%203.264-2.079.542-.28%201.093-.566%201.656-.901%201.061-.629%202.456-.586%203.761-.546.417.013.824.026%201.209.016.84-.02%201.694.207%202.56.68%201.214.66%202.407%201.3%203.58%201.92%201.354.72%202.77%202.497%204.25%205.33.194.38.247.78.16%201.2-.22%201-.01%201.813.63%202.44.334.327.46.724.38%201.19-.046.32-.213.543-.5.67-.326.147-.486.404-.48.77.067%202.48-.613%204.384-2.04%205.71-6.353%205.9-10.896%2010.434-13.63%2013.6-6.253%207.233-12.54%2015.017-18.86%2023.35-2.913%203.847-5.376%207.364-7.39%2010.55-.78%201.226-1.846%201.937-2.973%202.689-.187.125-.377.251-.567.381-.036.024-.07.053-.099.084-.034.036-.063.077-.086.121-.044.082-.066.174-.065.268.001.093.025.185.071.267.045.081.11.15.189.2.54.353%201.12.437%201.74.25%205.258-1.549%2010.734-5.449%2015.587-8.905%201.036-.738%202.043-1.455%203.013-2.125.94-.646%202.004-1.13%203.19-1.45%203.29-.87%207.11%201.66%209.28%204.14%201.58%201.8%202.684%203.757%203.31%205.87.747%202.507.494%205.03-.76%207.57-.613%201.247-1.523%202.173-2.73%202.78-7.026%203.527-13.93%207.657-20.71%2012.39-3.686%202.567-7.6%204.457-11.74%205.67-.633.187-1.28.273-1.94.26-.54-.007-.99.183-1.35.57-.114.123-.252.222-.407.291-.154.069-.322.106-.493.109l-6.87.03c-.373.007-.696-.12-.97-.38-.64-.587-1.416-.8-2.33-.64-.346.067-.686.037-1.02-.09-1.126-.427-2.123-.99-2.99-1.69-.6-.482-1.21-.856-1.802-1.219v-.001c-1.251-.767-2.42-1.485-3.248-3.06-.7-1.34-1.52-2.957-2.46-4.85-.526-1.06-.78-2.23-.76-3.51.054-3.093.134-5.877.24-8.35.027-.48.244-.846.65-1.1.38-.246.554-.143.52.31-.086%201.267-.216%202.62-.39%204.06-.006.073.024.117.09.13l.27.04c.074.013.11-.02.11-.1-.08-1.093.217-2.076.89-2.95.247-.313.374-.667.38-1.06.034-1.773.66-3.53%201.88-5.27.394-.553.47-1.143.23-1.77-.048-.125-.13-.234-.236-.316-.107-.081-.234-.131-.369-.144-.134-.014-.27.01-.392.068-.123.059-.228.149-.303.262-.286.453-.646.623-1.08.51-.393-.1-.746-.023-1.06.23-.9.74-1.906%201.037-3.02.89-.139-.021-.282-.004-.414.049-.106.042-.202.107-.281.189-.019.02-.038.04-.055.062-.38.48-.883.713-1.51.7-2.78-.053-5.573-.037-8.38.05-1.546.047-3.156-.363-4.83-1.23-2.44-1.267-4.233-2.523-5.38-3.77-1.093-1.193-2.133-2.716-3.12-4.57-.966-1.833-1.446-3.58-1.44-5.24.02-2.86.197-5.49.53-7.89.02-.14.1-.2.24-.18l.29.05c.147.027.2.114.16.26-.18.567-.236%201.127-.17%201.68.06.44.187.464.38.07%201.1-2.246%201.974-4.513%202.62-6.8.152-.524.429-.994.703-1.459.196-.333.391-.664.537-1.011.914-2.193.33-2.713-1.75-1.56-.52.287-1.016.564-1.49.83-.5.28-1.026.494-1.58.64-1.866.5-3.69%201-5.47%201.5-2.717.766-5.12.695-7.747.617l-.298-.009-.265-.008c-.393-.006-.743-.136-1.05-.39-.573-.466-1.236-.68-1.99-.64-.433.02-.82-.106-1.16-.38-.374-.308-.763-.473-1.15-.636-.493-.209-.982-.415-1.43-.914-1.22-1.346-2.51-2.637-3.87-3.87-.532-.484-.746-1-.962-1.522-.181-.437-.364-.879-.738-1.308-.128-.153-.219-.333-.268-.527-.048-.194-.052-.396-.012-.593.14-.68-.046-1.237-.56-1.67-.293-.246-.44-.567-.44-.96l.01-6.72c0-.353.107-.67.32-.95.674-.893.904-2.12.69-3.68-.033-.273-.183-.37-.45-.29-.94.287-1.723.097-2.35-.57-.155-.167-.353-.29-.572-.357-.22-.067-.454-.075-.678-.023-1.14.254-2.076.027-2.81-.68-.148-.142-.329-.247-.527-.306s-.408-.071-.613-.034c-1.546.28-2.876.043-3.99-.71-.384-.256-.855-.349-1.31-.26-.96.187-1.78-.016-2.46-.61-.38-.333-.82-.47-1.32-.41-2.22.28-4.07-.397-5.55-2.03-.246-.273-.553-.453-.92-.54-2.473-.6-4.923-1.173-7.35-1.72-58.42-13.16-116.896-26.12-175.43-38.88-1.526-.333-3.023-.696-4.49-1.09-1.291-.348-2.6-.559-3.901-.769h-.001c-1.611-.259-3.21-.516-4.748-1.031-1.794-.603-3.605-.893-5.4-1.181-1.866-.3-3.715-.596-5.51-1.239-1.835-.654-3.739-.963-5.661-1.275-1.722-.279-3.458-.561-5.169-1.095-1.733-.54-3.526-.96-5.38-1.26-2.84-.45-3.57%201.71-3.78%203.97-.019.184-.081.359-.18.51l-.46.67c-.154.224-.214.5-.17.77.14.827-.1%201.477-.72%201.95-.128.099-.225.233-.28.385s-.065.317-.03.475c.22.954-.033%201.694-.76%202.22-.105.076-.185.182-.228.304s-.047.253-.012.376c.187.634.11%201.207-.23%201.72-.726%201.08-1.25%202.21-1.57%203.39-.306%201.107-.72%202.174-1.24%203.2-2.346%204.6-4.643%209.174-6.89%2013.72-.345.708-.755%201.208-1.172%201.717-.32.389-.644.785-.948%201.283-11.82%2019.147-27.35%2034.764-46.59%2046.85-1.62%201.02-3.243%202.003-4.87%202.95-4.393%202.573-9.243%205.047-14.55%207.42-.335.152-.637.19-.927.226-.342.042-.667.083-1.013.304-1.3.834-2.63%201.404-3.99%201.71-.645.144-1.234.454-1.822.764-.433.228-.864.455-1.318.616-28.713%209.967-57.71%2011.22-86.99%203.76-3.229-.828-6.701-2.03-10.154-3.225l-.002-.001-.003-.001c-1.593-.551-3.182-1.102-4.741-1.613-1.593-.513-3.063-1.12-4.41-1.82-.986-.513-1.993-.943-3.02-1.29-.993-.34-1.973-.753-2.94-1.24-10.84-5.486-20.31-11.623-28.4097-18.41-7.28-6.1-15.79-14.68-21.96-22.61-13.3267-17.147-22.2167-36.477-26.67-57.99-.2267-1.08-.38-2.17-.46-3.27-.0522-.726-.235-1.407-.418-2.089-.2027-.755-.4057-1.511-.432-2.331-.06-2.11-.13-3.65-.61-6.05-.3133-1.586-.47-3.19-.47-4.81.0133-6.753.0333-13.507.06-20.26%200-1.28.1567-2.52.47-3.72.2733-1.06.46-2.18.56-3.36.4933-5.5%201.8167-12.28%203.97-20.34.1259-.458.3167-.833.5-1.193.3407-.67.6556-1.289.48-2.297-.1067-.606.0533-1.133.48-1.58.4333-.46.6033-1.03.51-1.71-.08-.56.1-1.023.54-1.39.4267-.353.5833-.803.47-1.35-.08-.373-.03-.726.15-1.06l1.58-2.95c.1467-.266.22-.55.22-.85.0007-.033.0012-.066.0017-.098l.0005-.035c.0065-.451.0114-.787.2578-1.207.6333-1.06%201.19-2.15%201.67-3.27.1435-.335.3289-.617.5073-.888.344-.524.662-1.008.6027-1.752-.0326-.365.0439-.733.22-1.06%201.1333-2.1%202.21-4.236%203.23-6.41.4733-1.013%201.06-1.956%201.76-2.83.565-.697.992-1.516%201.4221-2.34l.0005-.001c.2549-.489.5109-.98.7974-1.449%2015.34-24.946%2036.6037-44.037%2063.7897-57.27.627-.307%201.277-.493%201.95-.56.327-.033.634-.13.92-.29%201.667-.9%203.367-1.75%205.1-2.55.42-.2.867-.253%201.34-.16.26.047.477-.03.65-.23.547-.64%201.284-.893%202.21-.76.157.022.318.005.467-.049.15-.054.285-.143.393-.261.58-.62%201.327-.846%202.24-.68.287.047.524-.04.71-.26.527-.627%201.234-.88%202.12-.76.387.054.714-.056.98-.33.567-.573%201.287-.797%202.16-.67.139.022.28.01.413-.036.132-.045.251-.122.347-.224l.24-.25c.094-.1.204-.16.33-.18%201.934-.36%203.87-.79%205.81-1.29%203.354-.865%206.812-1.388%2010.258-1.908h.001l.005-.001c1.329-.2%202.657-.401%203.976-.621%202.776-.461%205.397-.489%208.12-.518l.16-.002c.334-.006.644-.083.93-.23%201.845-.952%204.558-.847%206.974-.755.885.034%201.729.067%202.476.045.327-.006.494-.173.5-.5.04-2.373.004-4.843-.11-7.41-.046-1.093.19-2.03.71-2.81.261-.384.397-.838.39-1.3-.053-4.66.014-9.433.2-14.32.034-.833.212-1.606.39-2.375.196-.846.39-1.688.39-2.605-.006-3.993.04-8.02.14-12.08.02-.771.218-1.476.414-2.17.197-.701.391-1.391.396-2.13.027-4.2.077-8.543.15-13.03.014-1.16.244-2.35.69-3.57.31-.834.314-1.855.318-2.913.003-.855.007-1.734.172-2.557.68-3.42%201.157-7.243%201.43-11.47.587-9.213%201.084-18.077%201.49-26.59.147-3.146.377-6.47.69-9.97.22-2.467.256-4.93.291-7.396.028-1.913.056-3.826.169-5.744.914-15.086%201.864-29.946%202.85-44.58.106-1.597.155-3.168.205-4.745v-.001c.073-2.304.146-4.624.395-7.064.314-3.106.444-6.286.39-9.54-.04-2.6.59-5.19%201.31-7.65.82-2.8%202.474-5.29%204.96-7.47%203.314-2.913%206.604-5.817%209.87-8.7098%204.42-3.92%2011.02-2.97%2016.17-1.11%20127.634%2046.0938%20250.83%2090.7038%20369.59%20133.8298%2014.03%205.1%2018.23%2011.9%2019.09%2026.56%201.567%2026.713%203.19%2053.463%204.87%2080.25.04.53-.06%201.07-.16%201.6-.086.494.11.66.59.5.28-.093.434-.297.46-.61.013-.174.084-.337.2-.46l2.98-3.11c.24-.253.53-.337.87-.25.38.087.657-.066.83-.46.154-.347.34-.663.56-.95%2031.82-41.34%2063.637-82.643%2095.45-123.91%204.78-6.2%2013.82-6.37%2018.27.23%203.4%205.03%201.54%209.86-1.97%2014.44-36.48%2047.627-72.783%2095.227-108.91%20142.8-.573.754-.846%201.554-.82%202.4.014.36-.13.637-.43.83-.666.427-1.076%201.034-1.23%201.82-.065.325-.226.619-.46.84l-2.13%202.02c-.1.094-.177.209-.228.339-.05.13-.071.27-.062.411l.03.59c.01.146-.015.294-.072.431-.057.136-.145.259-.258.359-.64.56-.933%201.24-.88%202.04%201.92%2031.12%203.924%2062.91%206.01%2095.37.194%203.02.284%205.813.27%208.38-.006.647.224.74.69.28.267-.266.35-.543.25-.83-.16-.466-.01-.61.45-.43%202.1.834%203.794%201.81%205.08%202.93.967.836%201.494%202.006%202.025%203.185l.001.001c.32.712.643%201.427%201.064%202.074.194.287.294.603.3.95.009.408.027.832.047%201.265v.001c.094%202.134.197%204.492-.867%206.304-.246.416-.463.851-.679%201.285v.001c-.512%201.028-1.021%202.052-1.921%202.804-2.11%201.78-3.56%203.92-3.59%206.85-.026%202.214-.02%204.31.02%206.29.003.172.043.341.118.494.074.154.181.289.312.396.4.32.63.84.6%201.35-.066%201.354-.056%202.62.03%203.8.04.487.22.547.54.18zm-2.15-15.53c.547-.68.74-1.436.58-2.27-.086-.433-.25-.463-.49-.09-.46.72-.656%201.457-.59%202.21.04.454.207.503.5.15zm-35.58%2075.87c-.254-.713-.227-1.353.08-1.92.213-.393.313-.367.3.08l-.03%201.78c-.014.66-.13.68-.35.06zm27.282%2025.271-.002-.041c-.02-.36-.123-.387-.31-.08-.347.573-.417%201.334-.21%202.28.1.474.23.48.39.02.225-.627.172-1.514.132-2.179z%22%20fill%3D%22%2399999922%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
    }
  }

  .develop {
    img {
      transform-origin: 10% 30%;
      @media (width < @sm) {
        margin: -16px 0 -48px;
      }
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20fill%3D%22none%22%20height%3D%22760%22%20viewBox%3D%220%200%20800%20760%22%20width%3D%22800%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%2399999922%22%3E%3Cpath%20d%3D%22m266.28%20128.486c.083.089-.36.637-.99%201.225s-1.208.992-1.291.903.36-.637.991-1.225c.63-.587%201.208-.992%201.29-.903z%22%2F%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m280.15%20252.2c1.153.86%202.44%201.024%203.86.49.347-.133.527-.017.54.35.773%2027.32%201.527%2057.227%202.26%2089.72.253%2010.874.563%2020.617.93%2029.23.073%201.68.227%203.337.46%204.97.047.34-.093.567-.42.68-2.733.92-5.19%202.294-7.37%204.12-49.98%2042.014-100.763%2084.674-152.35%20127.98-2.28%201.91-3.77%204.57-2.91%207.65.613%202.207%201.293%204.464%202.04%206.77.8%202.46%202.83%204.29%205.3%204.83%2023.64%205.114%2047.05%2010.15%2070.23%2015.11%20106.607%2022.8%20216.98%2046.574%20331.12%2071.32.919.199%201.825.295%202.722.39%201.046.111%202.08.221%203.108.49%201.333.347%202.807.383%204.42.11%202.107-.353%203.83-.78%205.17-1.28%204.293-1.593%207.33-4.283%209.11-8.07%207.013-14.953%2014.073-29.823%2021.18-44.61.067-.134.171-.246.3-.322s.278-.112.428-.105c.15.008.294.059.415.147s.214.21.267.35c.26.72.117%201.304-.43%201.75-.207.167-.197.324.03.47.967.634%201.817%201.434%202.55%202.4.22.287.51.434.87.44.591.005%201.157.128%201.735.253.565.122%201.142.247%201.765.267%2031%20.967%2061.973%201.93%2092.92%202.89.753.02%201.487.064%202.2.13%201.687.147%203.08-.26%204.18-1.22%2015.98-13.9%2032.26-27.99%2048.84-42.27%203.953-3.406%207.98-6.926%2012.08-10.56%201.067-.946%201.82-1.973%202.26-3.08%2010.12-25.613%2020.33-51.44%2030.63-77.48.213-.546.2-1.086-.04-1.62l-39.65-88.85c-.347-.772-.968-1.385-1.74-1.72-19.787-8.7-39.923-17.58-60.41-26.64-2-.887-3.957-1.373-5.87-1.46-3.753-.173-7.56-.26-11.42-.26-.34%200-.643-.103-.91-.31-1.036-.808-3.351-.677-5.07-.579-.387.022-.745.042-1.05.049-.071.003-.141-.009-.208-.034-.066-.026-.126-.065-.176-.114-.051-.05-.091-.109-.118-.175-.026-.066-.039-.136-.038-.207l.04-3.36c.007-.4.193-.677.56-.83.16-.06.26-.16.3-.3.087-.293-.003-.52-.27-.68-.2-.126-.383-.16-.55-.1-.42.14-.617-.023-.59-.49%202.347-44.733%204.63-86.763%206.85-126.09.272-4.857.514-9.659.755-14.439.423-8.386.842-16.704%201.415-25.131.447-6.566.633-12.956.56-19.17-.07-5.73-3.11-9.33-8.15-11.25-2.533-.966-4.32-1.443-5.36-1.43-6.053.094-12.35.297-18.89.61-42.547%202.047-97.567%204.367-165.06%206.96-6.915.269-13.534.612-20.024.947-7.494.388-14.815.767-22.216%201.013-16.88.554-34.197%201.317-51.95%202.29-.6.034-.73-.196-.39-.69.267-.387.59-.536.97-.45.46.1.603-.07.43-.51-.793-1.946-1.663-3.7-2.61-5.26-7.593-12.56-17.54-22.8332-29.84-30.8198-.62-.4067-1.827-1.0667-3.62-1.98-1.153-.5934-2.26-1.2834-3.32-2.07-.827-.6134-1.763-1.0234-2.81-1.23-.887-.1734-1.767-.5067-2.64-1-1.133-.6334-2.313-1.2467-3.54-1.84-.32-.16-.657-.2134-1.01-.16-.553.08-.997-.09-1.33-.51-.26-.3267-.603-.4934-1.03-.5l-1.04-.02c-.289-.0063-.564-.1167-.77-.31-.596-.5486-1.44-.6706-2.298-.7948-.409-.0591-.822-.1187-1.212-.2252-4.32-1.18-8.053-1.9367-11.2-2.27-2.94-.3134-6.153-.6034-9.64-.87-2.527-.1934-4.94-.15-7.24.13-2.58.32-5.137.4666-7.67.44-.779-.0096-1.507.2026-2.245.4178-.797.2325-1.607.4685-2.505.4322-1.38-.0534-2.69.2166-3.93.81-.353.1666-.727.24-1.12.22-.86-.0334-1.647.1633-2.36.59-.276.1644-.588.2636-.91.29-1.913.16-3.67.7733-5.27%201.84-.293.2-.613.2833-.96.25-.74-.06-1.34.1533-1.8.64-.26.2866-.583.4166-.97.39-.407-.02-.797.0533-1.17.22-5.107%202.26-9.787%204.75-14.04%207.47-9.58%206.12-17.607%2013.6833-24.08%2022.6898-.375.522-.785%201.021-1.195%201.518-.845%201.027-1.686%202.049-2.205%203.262-.443%201.028-1.033%201.865-1.626%202.704-.531.753-1.064%201.508-1.494%202.406-1.407%202.934-2.85%205.817-4.33%208.65-.187.354-.253.73-.2%201.13.067.514-.087.937-.46%201.27-.132.125-.234.279-.3.45-2.86%208.1-4.507%2016.437-4.94%2025.01-.41%208.03.9%2016.73%202.51%2024.5%204.53%2021.93%2017.91%2043.36%2037.12%2056.14%205.013%203.333%2010.773%206.507%2017.28%209.52.44.207.88.31%201.32.31.507%200%20.937.187%201.29.56.115.125.257.222.415.285.157.062.327.088.495.075.893-.053%201.667.21%202.32.79.111.095.24.167.379.212.139.044.285.061.431.048.793-.086%201.473.13%202.04.65.327.3.71.41%201.15.33%201.207-.213%202.207.044%203%20.77.118.107.26.185.414.23s.316.055.476.03c.673-.113%201.317-.076%201.93.11%201.393.42%201.367.687-.08.8-.78.053-1.573-.127-2.38-.54-.32-.167-.66-.246-1.02-.24-.653.02-1.32-.097-2-.35-.66-.24-1.33-.446-2.01-.62-7.353-1.853-14.19-4.6-20.51-8.24-1.88-1.08-3.653-2.073-5.32-2.98-.427-.233-.49-.16-.19.22.207.267.45.464.73.59%201.413.62%202.693%201.344%203.84%202.17%202.492%201.789%205.372%203.195%208.207%204.58%201.079.526%202.151%201.05%203.193%201.59.6.314%201.227.49%201.88.53.367.02.697.144.99.37.587.46%201.24.654%201.96.58.176-.016.352.006.518.065s.317.153.442.275c.5.494%201.1.7%201.8.62.427-.046.81.064%201.15.33l.53.41c.407.327.863.43%201.37.31.953-.213%201.79-.01%202.51.61.427.36.913.483%201.46.37.98-.213%201.847%200%202.6.64.31.259.703.4%201.11.4l4.49-.02c.331%200%20.654.109.92.31zm-10.66-126.15c-.927.5-1.78%201.124-2.56%201.87-.507.487-.457.557.15.21%203.88-2.24%207.25-3.926%2010.11-5.06%202.68-1.066%205.637-1.79%208.87-2.17%201.407-.166%202.777-.436%204.11-.81%201.633-.453%203.35-.453%205.15%200%201.848.456%203.755.771%205.652%201.085%201.141.189%202.279.377%203.398.595%201.347.267%202.563.744%203.65%201.43.993.627%202.047.877%203.16.75.081-.01.164%200%20.24.03s.144.078.196.141c.053.062.089.137.106.218.016.08.012.163-.012.241-.047.154-.133.277-.26.37-.127.094-.267.14-.42.14-5.9%200-11.69.004-17.37.01-1.096%200-2.034.269-2.967.535-.812.233-1.62.464-2.523.515-2.01.12-3.96%202.44-4.65%204.06-1.32%203.11-1.86%206.32-1.79%209.78.413%2019.86.89%2040.03%201.43%2060.51.06%202.074.097%204.11.11%206.11%200%20.22-.107.33-.32.33h-.27c-.3.007-.487-.133-.56-.42l-.52-1.92c-.042-.152-.134-.286-.261-.38s-.281-.143-.439-.14l-2.38.03c-.367.007-.663-.13-.89-.41-.373-.46-.877-.66-1.51-.6-.38.04-.74-.026-1.08-.2-2.287-1.193-4.6-2.36-6.94-3.5-1.053-.52-1.967-1.143-2.74-1.87-.579-.544-1.212-.953-1.847-1.365-.627-.406-1.257-.814-1.843-1.355-4.64-4.333-8.207-9.523-10.7-15.57-2.353-5.713-3.607-10.853-3.76-15.42-.127-3.733.133-7.767.78-12.1.127-.873.403-1.687.83-2.44.306-.529.423-1.088.544-1.659.1-.476.202-.959.416-1.441%204.84-10.813%2013.033-18.75%2024.58-23.81%201.107-.486%202.127-.833%203.06-1.04.573-.126.62-.016.14.33-.48.34-1.013.543-1.6.61-.293.04-.563.144-.81.31-1.913%201.307-3.8%202.464-5.66%203.47z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }
  }

  .skillmap {
    dotlottie-player {
      border: 2px solid rgba(@theme, 0.2);
      border-radius: 6px;
      background: #fff;
    }
  }
</style>
