---
const { symbol, alt, class: className } = Astro.props;
---

{
  alt ? (
    <svg aria-labelledby={`title-${alt}`} role="img" class={className}>
      <title id={`title-${alt}`}>{alt}</title>
      <use xlink:href={`/img/sprite.svg#${symbol.toLowerCase()}`} />
    </svg>
  ) : (
    <svg role="presentation" class={className}>
      <use xlink:href={`/img/sprite.svg#${symbol.toLowerCase()}`} />
    </svg>
  )
}
